<main class="font-sans flex flex-col py-6 px-4 gap-6 justify-center items-center text-center">
  <h2 class="text-2xl font-bold text-slate-900 dark:text-slate-200">Bienvenue !</h2>
  <p>Vous en avez marre des anniversaires ? Trop prévisible ? Alors soyez surpris avec ces <strong>journiversaires</strong>, ces <strong>minutiversaires</strong> ces <strong>secondiversaires</strong> !</p>
  <p>Entrez une date dans le champs ci-dessous et découvrez les dates "versaires" à celebrer !</p>
<form (ngSubmit)="onSubmit()" class="flex flex-col gap-8 items-center justify-center">
  <div class="flex items-center justify-center gap-4">
    <label for="versary">Sasissez une date :</label>
    <input class="py-1 px-2 border border-stone-500" id="versary" type="date" [(ngModel)]="date" name="date" required>
  </div>
  <button type="submit" class="mt-2 rounded-full bg-violet-500 px-5 py-2 text-lg font-bold text-white hover:bg-violet-600 focus:outline-2 focus:outline-offset-2 focus:outline-violet-500 active:bg-violet-700 ">Envoyer</button>
</form>
</main>
